body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    padding: 20px;
}

.content {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content p {
    text-align: center;
}
